langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_groq
ipykernel 
pypdf
bs4
wikipedia
langchain-text-splitters
langchain_huggingface
chromadb
sentence-transformers
faiss-cpu
langchain_chroma
duckdb
pandas
openai
duckduckgo-search
pymupdf
arxiv
mysql-connector-python
pytube
unstructured
numexpr
validators==0.28.1
ddgs
schema
tiktoken
groq
langchain-groq
